.title_test {
  color: orangered;
  background-color: black;
  text-align: center;
  width: 300px;
  height: 40px;
}

.div1 {
  display: flex;
  width: 100%;
  justify-content: center;
}

div {
  text-align: center;
}
